.icon-img-container {
    overflow: hidden;
    width: fit-content;
    margin: auto;
    margin-bottom: 1.6rem;
}

.icon-img {
    max-height: 100%;
    object-fit:contain;
    margin: auto;
    border-radius: 32px;
    min-width: 60%;
}

.text-grey {
    color: rgba(255,255,255, .85);
    background-color: #002e66;
}